* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100%;
  /* height: 100vh; */
  background-color: #242526;
}

.container {
  width: 100%;
  /* background-color: white; */
}

.container h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}
/* Lebaran */

.lebaran {
  margin: 50px auto;
  font-size: 1.5em;
  background-color: #333;
  width: 80%;
  padding: 100px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateY(50%); */
}

.container .lebaran .text {
  text-align: center;
  margin-bottom: 50px;
}

.container .lebaran .time {
  width: 100%;
  height: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container .lebaran #session {
  margin-left: 10px;
} */

/* Imsak */
.container .imsak {
  font-size: 1.5em;
  margin: 50px auto;
  width: 80%;
  padding: 100px;
  background-color: #333;
}

.container .text2 {
  text-align: center;
  margin-bottom: 50px;
}

.container .time2 {
  width: 100%;
  height: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Buka */
.container .buka {
  font-size: 1.5em;
  margin: 50px auto;
  width: 80%;
  padding: 100px;
  background-color: #333;
  text-align: center;
}

.container .text3 {
  margin-bottom: 50px;
}

.container .time3 {
  font-size: 1em;
  width: 100%;
  height: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .text1,
  .text2,
  .text3 {
    font-size: 0.9em;
  }

  .time #teks,
  .time2 #teks2,
  .time3 #teks3 {
    font-size: 1.2em;
  }
}
